* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
body {
  margin: 0;
}
.page {
  height: 100%;
  background-color: chocolate;
}

body > #root > div {
  height: 100vh;
}
